@font-face {
    font-family: century;
    src: url('../../fonts/Century-Gothic.ttf');
}
@font-face {
    font-family: century-bold;
    src: url('../../fonts/CenturyGothicBold.ttf');
}
@font-face {
    font-family: Bebas-Bold;
    src: url('../../fonts/BebasNeueBold.ttf');
}
@font-face {
    font-family: Bebas-Book;
    src: url('../../fonts/BebasNeueBook.ttf');
}
@font-face {
    font-family: Bebas-Regular;
    src: url('../../fonts/BebasNeueRegular.ttf');
}
b, strong{
    font-family: century-bold;
}
body, html{
    overflow-x: hidden;
}
*, p, li, a, h4, span{
    font-family: century;
}
a {
  text-decoration: none;
}
h2{
    color: #868589;
    text-transform: uppercase;
    font-family: Bebas-Bold;
}
h3{
    font-family: Bebas-Regular;
    font-weight: bold;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  height: 121px;
  width: 100%;
  z-index: 3;
}
#cd-logo {
    display: block;
    float: left;
    margin: 12px 0 0 46px;
    width: 200px;
}
#cd-logo img {
  display: block;
}

.flex{
	display: flex;
}
.angleDown{
    width: 100%;
    justify-content: center;
}
.angleDown i{
    width: 45px;
    height: 45px;
    background: #fff;
    color: #DFE0DE;
    font-size: 24pt;
    display: flex;
    border: solid 2px #DFE0DE;
    align-self: center;
}
.angleDown  i{
   border-radius: 50%; 
   justify-content: center;
   align-items: center;
}
.rotarFlecha{
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

footer{
    background: #f4f4f4;
    justify-content: center;
    height: 100%;
    position: relative;
    padding-bottom: 20px;
}
.footer-col1, .footer-col2{
    margin-top: 40px;
    flex: 1;
    margin-bottom: 20px;
}
.footer-col1{
    border-right: solid 2px #9e9b9b;
}
.footer-col1 h2, .footer-col2 h2{
    text-align: center;
    font-size: 26pt;
}
.ft-int-col1 p, .ft-int-col2 p, .footer-col2 p{
    color: #87868a;
}
.int-ftr{
    justify-content: center;
}
.ft-int-col1{
    margin-right: 30px;
    margin-top: 30px;
}
.ft-int-col1 p, .ft-int-col2 p{
    margin-bottom: 15px;
}
.ft-int-col2{
    margin-top: 30px;
}
.footer-col2{
    flex-flow: column;
    align-items: center;
}
.footer-col2 p{
    margin-top: 30px;
    width: 70%;
    text-align: justify;
}
.footer-col2 p > a{
    color: #009347;
    font-weight: bold;
}
div.footer-col2 a#ftrEnlace{
    color: #87868a;
}
.slOrient{
    left: 8px;
    transform: rotate(180deg);
}
.footerFlecha{
    position: absolute;
    bottom: 0px;
    right: 13px;
    width: 66px;
    height: 50px;
    cursor: pointer;
}


/* Styles menu */
.btn-menu{
  font-size: 50px;
  cursor: pointer;
  color: #bdbdbd;
  font-weight: bold;
}
.div-menu{
  position: absolute;
  top: 2em;
  right: 2em;
  z-index: 50;
}
.div-item a img{
  width: 50px;
  background-color: #bdbdbd;
  border: 0px solid #bdbdbd;
  border-radius: 50%;
  vertical-align: middle;
}
.body-home #icon-home{
  background-color: #8CC640;
}
.body-sustainability #icon-sustainability{
  background-color: #6CBD56;
}
.body-snapshot #icon-snapshot {
  background-color: #009347;
}
.body-outlook #icon-outlook {
  background-color: #6AA242;
}
.body-forest #icon-policy, .body-forest #icon-forest, 
.body-bioeconomy #icon-policy, .body-bioeconomy #icon-bioeconomy, 
.body-circular #icon-policy, .body-circular #icon-circular,
.body-energy #icon-policy, .body-energy #icon-energy,
.body-environment  #icon-policy, .body-environment  #icon-enviroment{
  background-color: #51A332;
}
.body-latest #icon-latest {
  background-color: #039be5;
}
.body-glossary #icon-glossary{
  background-color: #005EB8;
}
.body-practices #icon-practices{
  background-color: #2f7cba;
}
.div-item-child{
  font-size: .9em !important;
  padding-left: 2.1em;
}
.div-item-child img{
  width: 28px !important;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: -1em;
  background-color: #F4F4F4;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 1em 0 0 1.2em;
  z-index: 60;
}
.sidenav a {
  padding: 0 auto;
  text-decoration: none;
  font-size: 1.3em;
  color: #bdbdbd;
  display: block;
  transition: 0.3s;
  margin: .6em auto;
}
.sidenav .closebtn {
    color: #bdbdbd;
    position: absolute;
    top: -.5em;
    right: .4em;
    font-size: 4em;
    margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .btn-menu{
    font-size: 50px;
  }
}
/* /Styles menu */



/* Styles FAB button */
.container-fab {
  bottom: 0;
  position: fixed;
  margin: 1em;
  left: 0px;
}
.buttons-fab {
  background-color: #bdbdbd;
  color: white;
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18),
              0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  display: block;
  width: 56px;
  height: 56px;
  margin: 10px;
  position: relative;
  -webkit-transition: all .7s ease-out;
          transition: all .7s ease-out;
}
.buttons-fab i{
  padding: 8px 0 0 9px;
  font-size: 25px;
}
.btn-share i{
  padding: 13px 0 0 12px;
  font-size: 30px;
}
.buttons-fab:active,
.buttons-fab:focus,
.buttons-fab:hover {
  box-shadow: 0 0 4px rgba(0,0,0,.14),
    0 4px 8px rgba(0,0,0,.28);
}
.buttons-fab:not(:last-child) {
  width: 40px;
  height: 40px;
  margin: 20px auto 0;
  opacity: 0;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
}
.container-fab:hover
.buttons-fab:not(:last-child) {
  opacity: 1;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  margin: 15px auto 0;
}
/* Unessential styling for sliding up buttons-fab at differnt speeds */
.buttons-fab:nth-last-child(1) {
  -webkit-transition-delay: 25ms;
          transition-delay: 25ms;
  background-size: contain;
}
.buttons-fab:not(:last-child):nth-last-child(2) {
  -webkit-transition-delay: 50ms;
          transition-delay: 20ms;
  background-size: contain;
}
.buttons-fab:not(:last-child):nth-last-child(3) {
  -webkit-transition-delay: 75ms;
          transition-delay: 40ms;
  background-size: contain;
}
.buttons-fab:not(:last-child):nth-last-child(4) {
  -webkit-transition-delay: 100ms;
          transition-delay: 60ms;
  background-size: contain;
}
/* Show tooltip content on hover */
[tooltip]:before {
  bottom: 25%;
  font-family: arial;
  font-weight: 600;
  border-radius: 2px;
  background: #585858;
  color: #fff;
  content: attr(tooltip);
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  padding: 5px 7px;
  margin-right: 12px;
  position: absolute;
  left: 100%;
  white-space: nowrap;
}
[tooltip]:hover:before,
[tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}
/* /Styles FAB button */

/* Good Practices */

.googPractive, .goodPractives{
  z-index: 40 !important;
}

/* Styles table cepi */

.grafica5-table{
  overflow-x:auto;
  margin: 3em 0;
}

.table-cepi{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.table-cepi th, td {
  color: #aeadb3;
  border: none;
  text-align: left;
  padding: 8px;
  font-family: century;
  font-size: .8em;
}
.table-cepi tbody th{
  font-weight: bold;
  color: #87868a;
}
.table-cepi thead th{
  font-weight: bold;
  color: #51a332;
}
.table-cepi thead th{
  border-bottom: 1px solid #51a332;
}
/* End styles table cepi */


/* Charts latest data */

/* Charts latest */

.grafica {
    min-width: 310px;
    max-width: 100%;
    height: 500px;
    margin: 0 auto;
    padding-top: 3em;
    background-color: white;
}
.grafica p{
    font-size: .7em;
}
.grafica rect.highcharts-background {
    fill: #fff;
}

.grafica g.highcharts-axis-labels.highcharts-xaxis-labels tspan {
    font-family: century;
    font-size: 12px;
}

.grafica .highcharts-title tspan,
.grafica .highcharts-title span {
    font-family: Bebas-Bold;
    color: #868589;
    fill: #868589;
}

.chart-container{
  margin: 0 5%;
}
.chart-container>div>h2{
  font-size: 2em!important;
}