@media screen and (min-width: 760px) {
  body{
    overflow: hidden;
  }
  .container-home{
    width: 100%;
    margin-left: 2em;
  }
  .div-header .div-logo > img{
    width: 200px;
  }
  .title-home{
    float: left;
    width: 40%;
    padding-top: 3em;
    margin: auto;
  }
  .title-home>h1{
    font-size: 5rem;
  }
  .div-download{
    margin-top: 7em;
  }
  .div-circle{
    width: 60%;
    float: left;
    position: absolute;
    right: 1em;
    top:2em;
  }
  .img-circle{
    width: 40em;
    height: 40em;
  }
}
@media screen and (min-width: 1100px) {
  .title-home>h1{
    font-size: 7rem;
  }
  .img-circle{
    width: 45em;
    height: 45em;
  }
}
