h1{
  color: #51a332;
  text-transform: uppercase;
  font-family: Bebas-Bold !important;
  font-size: 3em;
  text-align: center;
}
h2{
    color: #868589;
    text-transform: uppercase;
    font-family: Bebas-Bold;
}
h3{
    font-family: Bebas-Regular;
    font-weight: bold;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  height: 121px;
  width: 100%;
  z-index: 3;
}
#cd-logo {
    display: block;
    float: left;
    margin: 1px 0 0 46px;
    width: 200px;
}
#cd-logo img {
  display: block;
}

header{
  z-index: 10;
}
.container-home{
  padding: 7em 0 0 0;
  overflow-y: hidden;
  overflow-x: hidden;
}
.div-header .div-logo{
  position: relative;
  top: 0px;
  left: 22px;
}
.div-header .div-logo > img{
  width: 150px;
}
.img-circle{
  width: 20em;
  height: 20em;
  background: url('../../img/home/circulo-rotar.svg') no-repeat center;
  background-size: contain;
  margin: 0 auto;
  -webkit-animation: spin 60s linear infinite;
  animation: spin 60s linear infinite;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.div-download p{
  text-align: center;
  line-height: 22px;
}
.div-download>p>a{
  color: #51a332;
  font-weight: bold;
}
