<!doctype html>
<html lang="en" class="no-js">
<head>
	<meta charset="UTF-8">
	<!-- Global Styles -->
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=0,maximum-scale=1,user-scalable=no">
	<link href='../../shared/css/jquery.fancybox.min.css' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../../shared/css/base.css">
	<!-- Iconos -->
	<link rel="stylesheet" type="text/css" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/baseInterna.css">
	<!-- HTML5 SHIV -->
	<!--[if lt IE 9]>
	  <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="http://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
	<!-- Page -->
	<script src="../../shared/js/modernizr.js"></script>
	<title>Digital CEPI</title>
</head>
<body>

	<header>
		<a id="cd-logo" href="#0"><img src="../../shared/img/logo.svg" alt="Homepage"></a>
	</header>

	<section class="banner">
		<div class="flex contFilt">
			<h2 class="title">Good Practices</h2>
			<p>Type:</p>
			<!-- Filtro -->
			<div class="cont_select_center">
			<div class="select_mate" data-mate-select="active" >
				<select name="" onclick="return false;" id="">
					<option value="">All</option>
					<option value="1">Forest</option>
					<option value="2" >Bioeconomy and Innovation</option>
					<option value="3">Circular Economy</option>
					<option value="4">Energy and Climate</option>
					<option value="5">Enviroment</option>
				</select>
				<p class="selecionado_opcion"  onclick="open_select(this)" ></p><span onclick="open_select(this)" class="icon_select_mate" ><svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
				    <path d="M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z"/>
				    <path d="M0-.75h24v24H0z" fill="none"/>
				</svg></span>
				<div class="cont_list_select_mate">
				  <ul class="cont_select_int">  </ul> 
				</div>
			  </div>
			</div>
			<!-- /Filtro -->
		</div>
		<!-- Resultado Busqueda -->
		<div class="flex contBusqueda">
			<a href="interna.html">
				<div class="itemEmpresa">
					<img src="img/logos/1.png">
					<h2>Borregaard</h2>
					<p>Borregaard: Leading the way</p>
				</div>
			</a>
			<a href="interna.html">
				<div class="itemEmpresa">
					<img src="img/logos/1.png">
					<h2>Borregaard</h2>
					<p>Borregaard: Leading the way</p>
				</div>
			</a>
			<a href="interna.html">
				<div class="itemEmpresa">
					<img src="img/logos/1.png">
					<h2>Borregaard</h2>
					<p>Borregaard: Leading the way</p>
				</div>
			</a>
			<a href="interna.html">
				<div class="itemEmpresa">
					<img src="img/logos/1.png">
					<h2>Borregaard</h2>
					<p>Borregaard: Leading the way</p>
				</div>
			</a>
			<a href="interna.html">
				<div class="itemEmpresa">
					<img src="img/logos/1.png">
					<h2>Borregaard</h2>
					<p>Borregaard: Leading the way</p>
				</div>
			</a>
			<a href="interna.html">
				<div class="itemEmpresa">
					<img src="img/logos/1.png">
					<h2>Borregaard</h2>
					<p>Borregaard: Leading the way</p>
				</div>
			</a>
		</div>
		<!-- Resultado Busqueda -->
	</section>
	<!-- /Contenido -->
<!-- Jquery -->
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<!-- AnimacionJs -->
<script src="../../shared/js/animations/appear.min.js" type="text/javascript"></script>
<script src="../../shared/js/animations/animations.min.js" type="text/javascript"></script>
<script src="../../shared/js/app.js"></script>
<script src="js/select.js"></script>
</body>
</html>